---
import SupCard from "../components/SupCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="News Homepage Main">
  <main>
    <section class="main-grid">
      <img src={"/images/image-web-3-desktop.jpg"} alt={"main-image"} />
      <article>
        <h1 class="main-title">The Bright Future of Web 3.0?</h1>
      </article>
      <article>
        <p>
          We dive into the next evolution of the web that claims to put the
          power of the platforms back info the hands of the people. But is it
          really fulfilling its promise?
        </p>
        <button class="btn">READ MORE</button>
      </article>
      <article class="sidecard bg-primary">
        <div class="sidecard-body">
          <h1 class="sidecard-title text-warning">New</h1>
          <div class="sidecard-list">
            <h3>Hydrogen VS Electric Cars</h3>
            <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
          </div>
          <div class="sidecard-list">
            <h3>The Downsides of AI Artistry</h3>
            <p>
              What are the possible adverse effects of on-demand AI image
              generation?
            </p>
          </div>
          <div class="sidecard-list">
            <h3>Is VC Funding Drying Up?</h3>
            <p>
              Private funding by VC firms is down 50% YOY. We take a look at
              what that means.
            </p>
          </div>
        </div>
      </article>
    </section>
    <section class="sup-grid">
      <SupCard
        image={"/images/image-retro-pcs.jpg"}
        number={"01"}
        title={"Reviving Retro PCs"}
        desc={"What happens when old PCs are given modren upgrades?"}
      />
      <SupCard
        image={"/images/image-top-laptops.jpg"}
        number={"02"}
        title={"Top 10 Laptops of 2022"}
        desc={"Our best picks for various needs and budgets."}
      />
      <SupCard
        image={"/images/image-gaming-growth.jpg"}
        number={"03"}
        title={"The Growth of Gaming"}
        desc={"How the pandemic has sparked fresh opportunities."}
      />
    </section>
  </main>
</Layout>

<style lang="scss">
  .main-grid {
    // display: grid;
  }

  .sup-grid {
  }

  .btn {
    padding: 1em 2em;
    letter-spacing: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-secondary);
  }

  .sidecard {
    display: flex;
    flex-direction: column;

    .sidecard-title {
      font-size: 2.5em;
    }

    .sidecard-body {
      display: flex;
      flex-direction: column;
      padding: 0 3ch;

      .sidecard-list {
        border-bottom: 1px solid var(--color-ghost);
        h3 {
          color: var(--color-white);
        }
      }

      .sidecard-list:first-of-type {
        h3 {
          margin-top: 0px;
        }
      }

      .sidecard-list:last-child {
        border-bottom: none;
      }
    }
  }
</style>
